* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: white;
    height: 100%;
    background-color: #27586B;
}

.wrapper {
    width: 100%;
    padding: 10px;
    height: 100%;
    letter-spacing: 1.4px;
}

.wrapper h1 {
    font-size: 2.7rem;
    letter-spacing: 1.4px;
}

.wrapper h2 {
    font-size: 1.8rem;
    text-align: center;
    color: #7DBA94;
}

.title {
    text-align: center;
    padding: 5px;
} 

.add-todos {
    width: 90%;
    margin: 10px auto;
}

input {
    width: 40%;
    height: 34px;
    border: 1px solid #ddd;
    font-style: italic;
    border-radius: 4px;
    padding: 8px;
}

.btn {
    padding: 7px;
    margin: 4px;
    border: 2px solid white;
    color: #ddd;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #132a33, #1f4655);
    background-image: -webkit-linear-gradient(to bottom, #132a33, #1f4655);
    background-image: -moz-linear-gradient(to bottom, #132a33, #1f4655);
    background-image: -o-linear-gradient(to bottom, #132a33, #1f4655);
    background-image: -ms-linear-gradient(to bottom, #132a33, #1f4655);
}

.todo-list {
    list-style-type: none;
    padding-bottom: 30px;
}

.todo-list li {
    margin: 6px;
    padding: 7px 10px;
    color: #ffe7ab;
    font-size: 1.1rem;
    border: 1px solid white;
    box-shadow: 4px 4px 70px black;
    background-color: #2e677e;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
}

.todo-list li i{
    padding: 0 4px;
    color: black;
    vertical-align: middle;
}

.todo-list li i:hover{
    cursor: pointer;
}

